<!-- <p>
  Beers and things will be drank.
</p>

<form (submit)="addName()">
  <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
  <button type="submit">Add</button>
</form>


<ul>
  <li *ngFor="let name of nameListService.get() | async">{{name}}</li>
</ul> -->
<h1>Beer Tasting Party</h1>
<div class="splash">
  <img src="./assets/svg/beer.svg" alt="Beer Splash">
</div>
<p>A fun, self-hosted, open-source blind beer tasting party app.</p>
<div class="button primary">Start Now</div>
