<div class="container" *ngIf="!creatingSession">
  <h1>Beer Tasting Party</h1>
  <div class="splash">
    <img src="./assets/svg/beer.svg" alt="Beer Splash">
  </div>
  <p>A fun, self-hosted, open-source blind beer tasting party app.</p>
  <div class="button primary" (click)="start(sessionName)">Start Now</div>
</div>

<div class="container" [hidden]="!creatingSession">
  <h2>Start a new Beer Tasting Session</h2>
  <div class="form">
    <label for="session-name">Name the tasting session</label>
    <input #sessionName [(ngModel)]="session.name" (keyup)="keyUp($event)" placeholder="session name">
    <p *ngIf="session.error">Please name your tasting session!</p>
  </div>
  <div class="button primary" (click)="submitSession()">Submit</div>
</div>
